<footer>
    <i class="fa-solid fa-download"></i>
    <a href="fisier.pdf" download>Descarcabil</a>
    <address>
        <i class="fa-solid fa-location-dot"></i>
        Strada Sportului, nr. 10, București, sector 1, România.
        <br>
        <i class="fa-sharp fa-solid fa-envelope"></i>
        <a href="mailto:VestiarulDeFotbal@gmail.com">Mail Vestiarul de Fotbal</a>
        <br>
        <i class="fa-solid fa-phone"></i>
        <a href="tel:+4071234567">Telefon</a>
    </address>
    <p><small>Copyright &copy; <time datetime="2012-10-18"> 18 octombrie 2012</time> </small></p>

    <a title="Mergi sus" href="#" id="link-top">
        <div id="triunghi">
            <p>
                &#129081;
            </p>
        </div>
    </a>
</footer>